/* COMMON */
html {
  --color-white: #fff;
  --color-black: #000;
  --color-font: #1d1d1d;
  --color-font-darkgray: #6e6e6e;
  --color-font-lightgray: #f5f5f5;
  --color-link: #0071e3;
  --color-link-focus: #81b9f1;
  --color-border: #d2d2d2;
  --color-header: #3a3a3a;
  --color-section: #f5f5f5;
  --color-shadow: rgba(0, 0, 0, 0.4);
}

html.fixed {
  /* 검색창이 나타났을 때 fixed 클래스를 추가해서 스크롤을 막기위해 position 속성을 fixed로 지정한다. */
  position: fixed;
  /* position 속성을 fixed로 지정하면 너비가 최대한 줄어들기 때문에 100%로 늘려준다. */
  width: 100%;
  overflow-y: scroll;
}

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: var(--color-font);
  line-height: 1;
  word-break: keep-all;

  height: 10000px;
}

a {
  color: var(--color-font);
  text-decoration: none;
}

img {
  display: block;
  /* 사용자가 이미지를 선택하지 못하게 설정한다. */
  user-select: none;
  /* 실험적인 속성인 경우, 공급업체 접두사를 추가하여 해당 웹 브라우저에서 동작하도록 설정해주어야 한다. */
  /* chrome의 경우 -webkit */
  -webkit-user-drag: none;
}

p {
  line-height: 1.6;
}

.inner {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 0 10px;
  border: none;
  border-radius: 100px;
  outline: none;
  font-size: 11px;
  color: var(--color-white);
  background-color: var(--color-link);
  cursor: pointer;
  line-height: 1;
}

.btn:hover {
  opacity: 0.7;
}

.btn:focus {
  /* box-shadow: x, y, blur, spread, color; */
  box-shadow: 0 0 0 4px var(--color-link-focus);
}

/* 콘텐츠를 이미지로 대체하고 스크린 리더기가 읽을 수 있게 내용을 삭제하지 않고 안보이게 하기위해 공통 속성을 지정한다. */
.bgtext {
  display: block;
  text-indent: -9999px;
  background-position: center;
  background-repeat: no-repeat;
  /* 요소의 짧은 너비에 크기를 맞춘다. */
  background-size: contain;
}

.links {
  display: flex;
  justify-content: center;
  gap: 40px;
}

a.link {
  color: var(--color-link);
  font-size: 19px;
  line-height: 1.3;
}

a.link:hover {
  text-decoration: underline;
}

a.link::after {
  content: ">";
}

.feature {
  display: flex;
}

.figures {
  position: relative;
  flex-grow: 1;
}

/* 공통 속성으로 지정하면 자식 요소의 개수에 따라 위치가 달라질 수 있으니 기준위치를 잡는다ㅏ. */
.figures figure,
.figures figcaption {
  position: absolute;
  top: 0;
  left: 0;
}

.figure figcaption * {
  position: absolute;
  top: 0;
  left: 0;
}

.infos {
  /* z-index를 설정해주기 위해 position 속성을 지정해준다. */
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.infos.infos--center {
  justify-content: center;
}

.infos.infos--end {
  justify-content: flex-end;
}

.info {
  max-width: 330px;
  margin-bottom: 24px;
  opacity: 0;
  transition: 1s;
  transform: translateY(100px);
}

.info.show {
  opacity: 1;
  transform: translate(0, 0);
}

.infos--large .info {
  min-width: 410px;
}

.info .icon {
  width: 100px;
  height: 100px;
  margin: 0 0 -15px -30px;
  background-image: url("../assets/images/sprite_apps.png");
  animation: sprite-icon 3s steps(1) infinite;
}

.info .icon.icon--chip {
  background-image: url("../assets/images/sprite_chip.png");
}
.info .icon.icon--faster {
  background-image: url("../assets/images/sprite_faster.png");
}
.info .icon.icon--neural {
  background-image: url("../assets/images/sprite_neural.png");
}
.info .icon.icon--apps {
  background-image: url("../assets/images/sprite_apps.png");
}
.info .icon.icon--battery {
  background-image: url("../assets/images/sprite_battery.png");
}
.info .icon.icon--display {
  background-image: url("../assets/images/sprite_display.png");
}
.info .icon.icon--true-tone {
  background-image: url("../assets/images/sprite_true_tone.png");
}
.info .icon.icon--center-stage {
  background-image: url("../assets/images/sprite_center_stage.png");
}
.info .icon.icon--front-camera {
  background-image: url("../assets/images/sprite_front_camera.png");
}
.info .icon.icon--back-camera {
  background-image: url("../assets/images/sprite_back_camera.png");
}
.info .icon.icon--scan {
  background-image: url("../assets/images/sprite_scan.png");
}
.info .icon.icon--download {
  background-image: url("../assets/images/sprite_download.png");
}
.info .icon.icon--wifi {
  background-image: url("../assets/images/sprite_wifi.png");
}
.info .icon.icon--lte {
  background-image: url("../assets/images/sprite_lte.png");
}
.info .icon.icon--pencil {
  background-image: url("../assets/images/sprite_pencil.png");
}
.info .icon.icon--keyboard {
  background-image: url("../assets/images/sprite_keyboard.png");
}
.info .icon.icon--notes {
  background-image: url("../assets/images/sprite_notes.png");
}
.info .icon.icon--covers {
  background-image: url("../assets/images/sprite_covers.png");
}

.info p {
  font-size: 21.5px;
  font-weight: 600;
  line-height: 1.5;
}

.info a.link {
  /* 인라인 요소에 margin을 부여하기 위해 display 속성을 block으로 지정한다. */
  display: block;
  margin-top: 44px;
  font-size: 19.5px;
}

/* Header */
header {
  --header-height: 44px;

  position: relative;
  background-color: var(--color-header);
  /* 대부분의 경우 z-index 속성이 적용되려면 position 속성이 static이 아니어야 한다. */
  z-index: 9;
}

header .inner {
  /* 1020px이하가 되면 너비가 자동으로 화면에 맞춰질 수 있게 max-width를 지정해준다. */
  max-width: 1020px;
}

/* Header / Menu */
header ul.menu {
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
}

header ul.menu > li {
  position: relative;
  /* display 속성을 flex로 지정하면 align-items 속성이 stretch로 설정되는 특성을 이용하여
  a 태그가 .menu 요소의 높이를 100% 채울 수 있게 해주기 위해 flex로 지정한다. */
  display: flex;
  transition: 0.4s;
}

header ul.menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 11px;
  color: var(--color-font-lightgray);
  opacity: 0.8;
}

header ul.menu > li.apple-logo > a,
header ul.menu > li.search-starter > a,
header ul.menu > li.basket-starter > a {
  width: 14px;
  /* 검색엔진과 화면 리더기에서 읽을 수 있게 HTML에서 내용을 제거하지 않고 화면에서 제거하기 위해
  text-indent 속성을 -9999px로 지정한다. */
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center 13px;
}

header ul.menu > li.apple-logo > a {
  background-image: url("../assets/images/header_apple.svg");
}

header ul.menu > li.search-starter > a {
  background-image: url("../assets/images/header_search.svg");
}

header ul.menu > li.basket-starter > a {
  background-image: url("../assets/images/header_bag.svg");
}

header ul.menu > li > a:hover {
  opacity: 1;
}

/* Header / Menu / Basket */
header .basket {
  position: absolute;
  top: calc(100% + 4px);
  right: -6px;
  width: 290px;
  padding: 10px 20px;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  box-sizing: border-box;
  background-color: var(--color-white);
  /* display 속성으로 요소의 보임과 사라짐을 지정하면 애니메이션을 적용할 수 없으므로 visibility 속성을 사용한다. */
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}

header .basket.show {
  visibility: visible;
  opacity: 1;
}

header .basket .arrow {
  position: absolute;
  top: -10px;
  right: 12px;
  width: 20px;
  height: 10px;
  overflow: hidden;
}

header .basket .arrow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-border);
  background-color: var(--color-white);
  transform: rotate(45deg);
  /* transfrom 속성의 기준점을 기본값인 중심에서 '가로 세로'로 지정한다. */
  transform-origin: 0 0;
}

header .basket .message {
  text-align: center;
  padding: 30px 0;
  font-size: 13px;
  color: var(--color-font-darkgray);
}

header .basket ul {
  margin-top: 10px;
}

header .basket ul li {
  border-top: 1px solid var(--color-border);
}

header .basket ul li a {
  display: block;
  padding: 14px;
  font-size: 13px;
  color: var(--color-link);
}

header .basket ul li a:hover {
  text-decoration: underline;
}

/* Header / Search */
header .search-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}

header .search-wrap .search {
  position: relative;
  max-width: 680px;
  margin: 0 auto;
}

/* 화면 전체의 밝기를 조절하기 위한 설정이다. */
header .search-wrap .search .shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-shadow);
}

header .search-wrap .search .textfield {
  position: relative;
}

header .search-wrap .search input {
  width: 100%;
  height: var(--header-height);
  padding: 0 40px;
  border: none;
  outline: none;
  font-size: 17px;
  color: var(--color-white);
  background-color: transparent;
  box-sizing: border-box;
}

header .search-wrap .search .search-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: var(--header-height);
  background-image: url("../assets/images/header_search.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
}

header .search-wrap .search .search-closer {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: var(--header-height);
  background-image: url("../assets/images/header_close.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  cursor: pointer;
}

header .search-wrap .search .search-closer:hover {
  opacity: 1;
}

header .search-wrap .search .autocompletes {
  position: absolute;
  top: var(--header-height);
  left: 0;
  width: 100%;
  padding: 26px 40px 20px;
  border-radius: 0 0 18px 18px;
  background-color: var(--color-white);
  box-sizing: border-box;
}

header .search-wrap .search .autocompletes h3 {
  margin-bottom: 12px;
  font-size: 12px;
  color: var(--color-font-darkgray);
}

header .search-wrap .search .autocompletes ul li a {
  display: block;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  cursor: pointer;
}

header .search-wrap .search .autocompletes ul li:hover a {
  color: var(--color-link);
  background-color: var(--color-section);
}

header .search input,
header .search .search-icon,
header .search .autocompletes h3,
header .search .autocompletes li {
  transition: 0.6s;
  transform: translateX(100px);
}

header.searching ul.menu > li {
  transform: scale(0.7);
  opacity: 0;
}

header.searching .search-wrap {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

header.searching .search input,
header.searching .search .search-icon,
header.searching .search .autocompletes h3,
header.searching .search .autocompletes li {
  transform: translateX(0);
  transition-delay: 0.2s;
}

/* Navigation */
nav {
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--color-border);
  /* 배경을 blur처리하기 위해 투명도를 줘야하므로 rgba로 배경색상을 지정한다. */
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  z-index: 8;
}

nav .inner {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 52px;
}

nav h1 {
  /* h1 태그 이외의 요소들을 오른쪽으로 밀기 위해서 h1 요소의 크기가 늘어나게 해준다. */
  flex-grow: 1;
  font-size: 22px;
  font-weight: 500;
}

nav .menu {
  display: flex;
  gap: 12px;
  margin-right: 18px;
}

nav .menu li a {
  display: block;
  padding: 6px;
  font-size: 11px;
}

nav .menu li a:hover {
  color: var(--color-link);
}

nav .menu li.active a {
  opacity: 0.5;
  cursor: default;
}

nav .menu li.active a:hover {
  color: var(--color-font);
}

/* Hero */
.hero {
  background-color: var(--color-section);
}

.hero .inner {
  padding-bottom: 110px;
}

.hero h1 {
  position: absolute;
  transform: translate(624px, 235px);
  width: 221px;
  height: 91px;
  background-image: url("../assets/images/hero_ipad_text.png");
  z-index: 1;
}

.hero .figures {
  height: 808px;
}

.hero figure {
  transform: translate(74px, -64px);
}

.hero figure figcaption .caption-camera {
  width: 120px;
  height: 84px;
  background-image: url("../assets/images/hero_ipad_caption_camera.png");
  transform: translate(43px, 580px);
}

.hero figure figcaption .caption-chip {
  width: 95px;
  height: 43px;
  background-image: url("../assets/images/hero_ipad_caption_chip.png");
  transform: translate(589px, 510px);
}

.hero figure figcaption .caption-storage {
  width: 88px;
  height: 43px;
  background-image: url("../assets/images/hero_ipad_caption_storage.png");
  transform: translate(627px, 631px);
}

.hero h2 {
  width: 738px;
  height: 145px;
  margin: 0 auto;
  background-image: url("../assets/images/hero_headline.png");
}

.hero .pricing {
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
}

.hero .description {
  text-align: center;
  width: 88%;
  margin: 18px auto 0;
  font-size: 19px;
}

.hero .links {
  margin-top: 30px;
}

/* Power */
.power {
  margin-top: 110px;
}

.power .multiple-apps h1 {
  width: 500px;
  height: 280px;
  background-image: url("../assets/images/power_headline.png");
  transform: translate(104px, 0);
}

.power .multiple-apps .figures {
  height: 773px;
}

.power .multiple-apps .figures figcaption {
  width: 138px;
  height: 46px;
  background-image: url("../assets/images/power_multiple_apps_caption.png");
  transform: translate(703px, -47px);
}

.power .arcade {
  margin-top: 55px;
}

.power .arcade .figures {
  height: 600px;
}

.power .arcade figure {
  transform: translate(-347px, -90px);
}

.power .arcade figcaption {
  width: 150px;
  height: 77px;
  background-image: url("../assets/images/power_arcade_caption.png");
  transform: translate(483px, 653px);
}

.power .create {
  margin-top: 55px;
}

.power .create .figures {
  height: 772px;
}

.power .create figure {
  transform: translate(-25px, 50px);
}

.power .create figcaption {
  width: 142px;
  height: 46px;
  background-image: url("../assets/images/power_create_caption.png");
  transform: translate(543px, 908px);
}

/* Display */
.display {
  margin-top: 450px;
}

.display .notes h1 {
  width: 630px;
  height: 370px;
  background-image: url("../assets/images/display_headline.png");
  transform: translateX(104px);
}

.display .notes .figures {
  height: 814px;
  margin-top: 26px;
}

.display .notes figcaption {
  width: 145px;
  height: 45px;
  background-image: url("../assets/images/display_notes_caption.png");
  transform: translate(707px, -16px);
}

.display .shareplay {
  margin-top: 55px;
}

.display .shareplay .figures {
  height: 630px;
}

.display .shareplay figure {
  transform: translateX(-360px);
}

.display .shareplay figcaption {
  width: 110px;
  height: 48px;
  background-image: url("../assets/images/display_shareplay_caption.png");
  transform: translate(300px, 658px);
}

/* Camera */
.camera {
  margin-top: 303px;
}

.camera .stage {
  position: relative;
}

.camera .stage h1 {
  width: 650px;
  height: 450px;
  background-image: url("../assets/images/camera_headline.png");
  transform: translateX(-25px);
}

.camera .stage .info {
  /* transform 속성을 이용하면 원래 자리가 사라지지 않고 남아있기 때문에 position 속성으로 위치를 지정한다. */
  position: absolute;
  top: 150px;
  right: 0;
}

.camera .stage .figures {
  height: 770px;
  margin-top: 24px;
}

.camera .stage figure {
  transform: translateX(90px);
}

.camera .stage figure video {
  position: absolute;
  top: 36px;
  left: 76px;
  /* maks-image 속성으로 영상을 보여줄 영역을 지정한다.(이미지로 지정) */
  -webkit-mask-image: url("../assets/images/camera_video_mask.png");
  mask-image: url("../assets/images/camera_video_mask.png");
}

.camera .stage figure .controller--play,
.camera .stage figure .controller--pause {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-link);
  transform: translate(428px, -134px) rotate(-3deg);
  cursor: pointer;
}

.camera .stage figure .controller--play:hover,
.camera .stage figure .controller--pause:hover {
  text-decoration: underline;
}

.camera .stage figure .controller--play.hide,
.camera .stage figure .controller--pause.hide {
  display: none;
}

.camera .stage figure .controller--play img,
.camera .stage figure .controller--pause img {
  width: 20px;
  margin-top: -2px;
}

.camera .stage figcaption {
  width: 130px;
  height: 110px;
  background-image: url("../assets/images/camera_hardware_caption.png");
  transform: translate(-116px, 383px);
}

.camera .edit .figures {
  height: 910px;
}

.camera .edit figure {
  transform: translateX(20px);
}

.camera .edit figcaption {
  width: 130px;
  height: 47px;
  background-image: url("../assets/images/camera_edit_caption.png");
  transform: translate(27px, 905px);
}

/* Wireless */
.wireless {
  margin-top: 202px;
}

.wireless .facetime h1 {
  width: 730px;
  height: 330px;
  background-image: url("../assets/images/wireless_headline.png");
  transform: translateX(104px);
}

.wireless .facetime .figures {
  height: 773px;
}

.wireless .facetime figure {
  transform: translateX(-68px);
}

.wireless .facetime figcaption {
  width: 139px;
  height: 46px;
  background-image: url("../assets/images/wireless_facetime_caption.png");
  transform: translate(843px, -49px);
}

.wireless .files figure {
  transform: translate(34px, -34px);
}

.wireless .files figcaption {
  width: 127px;
  height: 46px;
  background-image: url("../assets/images/wireless_files_caption.png");
  transform: translate(96px, 639px);
}

/* Accessories */
.accessories {
  margin-top: 195px;
}

.accessories h1 {
  width: 550px;
  height: 343px;
  background-image: url("../assets/images/accessories_headline.png");
  margin: 0 auto;
}

.accessories .figures {
  height: 1021px;
  margin-top: 34px;
}

.accessories figure {
  transform: translateX(-24px);
}

.accessories figcaption .caption-memo {
  width: 169px;
  height: 41px;
  background-image: url("../assets/images/accessories_caption_memo.png");
  transform: translate(790px, -52px);
}

.accessories figcaption .caption-supports {
  width: 200px;
  height: 70px;
  background-image: url("../assets/images/accessories_caption_supports.png");
  transform: translate(163px, 780px);
}

.accessories .infos {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* iPadOs */
.ipados {
  margin-top: 212px;
}

.ipados h1 {
  width: 530px;
  height: 400px;
  margin: 0 auto;
  background-image: url("../assets/images/ipados_headline.png");
}

.ipados .infos {
  align-items: flex-end;
  margin-top: 44px;
}

.ipados .figures {
  display: flex;
  height: 782px;
}

.ipados .figures > div {
  position: relative;
  flex-grow: 1;
}

.ipados .figure-split-view figure {
  transform: translate(-205px, -312px);
}

.ipados .figure-split-view figcaption {
  width: 163px;
  height: 53px;
  background-image: url("../assets/images/ipados_split_view_caption.png");
  transform: translate(200px, -38px);
}

.ipados .figure-widgets figure {
  transform: translate(237px, 43px);
}

.ipados .figure-widgets figcaption {
  width: 161px;
  height: 46px;
  background-image: url("../assets/images/ipados_widgets_caption.png");
  transform: translate(257px, 497px);
}

.ipados .figure-quick-note figure {
  transform: translate(-625px, 232px);
}

.ipados .figure-quick-note figcaption {
  width: 82px;
  height: 97px;
  background-image: url("../assets/images/ipados_quick_note_caption.png");
  transform: translate(511px, 470px);
}

/* Apps */
.apps {
  margin-top: 368px;
}

.apps h1 {
  width: 500px;
  height: 264px;
  background-image: url("../assets/images/apps_headline.png");
  transform: translateX(17px);
}

.apps .infos {
  margin-top: 36px;
  margin-left: 82px;
}

.apps .figures {
  display: flex;
  height: 788px;
}

.apps .figures > div {
  position: relative;
  flex-grow: 1;
}

.apps .figure-masterclass figure {
  transform: translate(578px, -431px);
}

.apps .figure-masterclass figcaption {
  width: 100px;
  height: 25px;
  background-image: url(../assets/images/apps_masterclass_caption.png);
  transform: translate(26px, 690px);
}

.apps .figure-adobe figure {
  transform: translate(-515px, 85px);
}

.apps .figure-adobe figcaption {
  width: 105px;
  height: 24px;
  background-image: url("../assets/images/apps_adobe_caption.png");
  transform: translate(544px, 514px);
}

.apps .figure-fantasian figure {
  transform: translate(-103px, 318px);
}

.apps .figure-fantasian figcaption {
  width: 74px;
  height: 22px;
  background-image: url("../assets/images/apps_fantasian_caption.png");
  transform: translate(24px, 483px);
}

.apps .figure-books figure {
  transform: translate(-133px, -150px);
}

.apps .figure-books figcaption {
  width: 50px;
  height: 27px;
  background-image: url("../assets/images/apps_books_caption.png");
  transform: translate(397px, 707px);
}

.apps .figure-goodnotes figure {
  transform: translate(-93px, 68px);
}

.apps .figure-goodnotes figcaption {
  width: 99px;
  height: 26px;
  background-image: url("../assets/images/apps_goodnotes_caption.png");
  transform: translate(24px, 690px);
}

@keyframes sprite-icon {
  /* 1~10 */
  0.00% {
    background-position: 0 0;
  }
  1.67% {
    background-position: -100px 0;
  }
  3.33% {
    background-position: -200px 0;
  }
  5.00% {
    background-position: -300px 0;
  }
  6.67% {
    background-position: -400px 0;
  }
  8.33% {
    background-position: -500px 0;
  }
  10.00% {
    background-position: 0 -100px;
  }
  11.67% {
    background-position: -100px -100px;
  }
  13.33% {
    background-position: -200px -100px;
  }
  15.00% {
    background-position: -300px -100px;
  }

  /* 11~20 */
  16.67% {
    background-position: -400px -100px;
  }
  18.33% {
    background-position: -500px -100px;
  }
  20.00% {
    background-position: 0 -200px;
  }
  21.67% {
    background-position: -100px -200px;
  }
  23.33% {
    background-position: -200px -200px;
  }
  25.00% {
    background-position: -300px -200px;
  }
  26.67% {
    background-position: -400px -200px;
  }
  28.33% {
    background-position: -500px -200px;
  }
  30.00% {
    background-position: 0 -300px;
  }
  31.67% {
    background-position: -100px -300px;
  }

  /* 21~30 */
  33.33% {
    background-position: -200px -300px;
  }
  35.00% {
    background-position: -300px -300px;
  }
  36.67% {
    background-position: -400px -300px;
  }
  38.33% {
    background-position: -500px -300px;
  }
  40.00% {
    background-position: 0 -400px;
  }
  41.67% {
    background-position: -100px -400px;
  }
  43.33% {
    background-position: -200px -400px;
  }
  45.00% {
    background-position: -300px -400px;
  }
  46.67% {
    background-position: -400px -400px;
  }
  48.33% {
    background-position: -500px -400px;
  }

  /* 31~40 */
  50.00% {
    background-position: 0 -500px;
  }
  51.67% {
    background-position: -100px -500px;
  }
  53.33% {
    background-position: -200px -500px;
  }
  55.00% {
    background-position: -300px -500px;
  }
  56.67% {
    background-position: -400px -500px;
  }
  58.33% {
    background-position: -500px -500px;
  }
  60.00% {
    background-position: 0 -600px;
  }
  61.67% {
    background-position: -100px -600px;
  }
  63.33% {
    background-position: -200px -600px;
  }
  65.00% {
    background-position: -300px -600px;
  }

  /* 41~50 */
  66.67% {
    background-position: -400px -600px;
  }
  68.33% {
    background-position: -500px -600px;
  }
  70.00% {
    background-position: 0 -700px;
  }
  71.67% {
    background-position: -100px -700px;
  }
  73.33% {
    background-position: -200px -700px;
  }
  75.00% {
    background-position: -300px -700px;
  }
  76.67% {
    background-position: -400px -700px;
  }
  78.33% {
    background-position: -500px -700px;
  }
  80.00% {
    background-position: 0 -800px;
  }
  81.67% {
    background-position: -100px -800px;
  }

  /* 51~60 */
  83.33% {
    background-position: -200px -800px;
  }
  85.00% {
    background-position: -300px -800px;
  }
  86.67% {
    background-position: -400px -800px;
  }
  88.33% {
    background-position: -500px -800px;
  }
  90.00% {
    background-position: 0 -900px;
  }
  91.67% {
    background-position: -100px -900px;
  }
  93.33% {
    background-position: -200px -900px;
  }
  95.00% {
    background-position: -300px -900px;
  }
  96.67% {
    background-position: -400px -900px;
  }
  98.33% {
    background-position: -500px -900px;
  }
}
